<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='stylesheet.css')}}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Video Summarizer</title>
    </head>
    <body>
    <div id="wrapper">
        <div>
            <span class="d-block h1 bg-danger text-white" style="text-align: center;">Video Summarizer</span>
        </div>
        

        <div class="container">
            <div class="row">
              <div class="col">
                <video style="display:block;margin:auto;" id="videoplayer" width="640" height="480" controls>
                    <source id="source" src="source" type="video/mp4">
                </video>
              </div>
              <div class="col">
                <form action="/transcribe" method="post" enctype="multipart/form-data">
                    <div>
                        <p>*Insert info on project here maybe*</p>
                        <h2>Choose A File To Transcript: </h2>
                    </div>
                    

                    <div style="margin-top: 300px;" class="d-grid gap-2">
                        <input class="btn btn-secondary" type="file" id="video" name="FileName" onchange="selectedvideo(this)">
                        <input type="submit" class="btn btn-primary" onclick="selectedvideo()">
                    </div>
                </form>
              </div>
            </div>
          </div>
    </div>
    <script>
        function selectedvideo(self) {
            var file = self.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var src = e.target.result;
                var video = document.getElementById("videoplayer");
                var source = document.getElementById("source");

                source.setAttribute("src", src);
                video.load();
                video.play();
            }

            reader.readAsDataURL(file);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
